body{
    font-family: "Times New Roman", Times, serif;
    font-size: 12;
}

.header{
    width:100%; 
    text-align:center; 
    font-size:14;
    /* margin-bottom: 90px; */
}
h3{
    text-align: center;
}
.isi{
    width:100%; 
    /* background-color: red ; */
    border: 1;
    padding : 20px ;
    /* text-align:center;  */
    /* font-size:14; */
    /* padding-top: 40px; */
}

table{
    width: 100%;
}

.dituju{
    width: 100%;
    border-collapse: collapse;
    /* padding: 10px; */
}

.footer{
    padding-left:60px ;
    width: 50%;
    float : left ;
    /* padding-top: 20px; */
}

.footer-kanan{
    /* width : 50% ; */
    float : left ;
    text-align: right;
    /* margin-top: 20px; */
}

ol li{
    display: flex;
  justify-content: space-evenly;
}


