body{
    font-family: "Times New Roman", Times, serif;
    font-size: 12;
}

.header{
    width:100%; 
    text-align:center; 
    font-size:14;
    /* margin-bottom: 90px; */
}
.header-body{
    width:100%; 
    text-align:center; 
    font-size:14;
    /* margin-bottom: 90px; */
}

.general_informasi td{
    vertical-align: top ;
}

.general_informasi ul{
    list-style: symbols('-');
}

/* .body .judul-body{
    width:100%; 
    text-align:center; 
} */

/* .myTabel table, .myTabel th, .myTabel td , .myTabel td { */
.myTabel {
        /* border: 1px solid black; */
        width: 100%;
        border-collapse: collapse;
}
.myTabel tr, .myTabel td {
    padding: 5;
}

.footer{
    width: 50%;
    float : left ;
    /* padding-top: 20px; */
}

.footer-kanan{
    width : 50% ;
    float : left ;
    text-align: right;
    /* margin-top: 20px; */
}

.verify{
    width: 100%;
}

.row{
    padding-top: 100px ;
    width: 80%;
    /* border: 2px solid; */
    margin:auto ;
}

.col{
    width: 49.2%;
    border: 2px solid;
    /* margin:auto ; */
    float:left ;
}